<html>
<head>
    <style>
        body {
            <% if message == "Way too high! #{@@counter} guesses left" || message == "Way too low! #{@@counter} guesses left" %>
                    background: red;
                <% elsif message == "Too high! #{@@counter} guesses left" || message == "Too low! #{@@counter} guesses left" %>
                    background: orange; 
                <% elsif message == "You got it right! the SECRET NUMBER is #{@@number}!" %>
                    background: green;
                <% end %>
        }
        
        form {
            text-align: center;
            padding-top: 50px;
            font-family: sans-serif;
        }
        
        input {
            font-size: 1.1em;
            border-top: none;
        }
        
        p {
            font-size: 1.5em;
        }
        
        
    </style>
    </head>
    <body>
        
        <form>
            <h1>Guess a Number Between 1 and 99</h1>
            <input type='text' name='guess' />
            <input type='submit' value='Guess!' />
            <p><%= message %></p>
            
            <% if @@counter == 0 %>
            <p>
                <%= @announce %>
            </p>
            
            <% end %>
            
        </form>
        
    </body>
</html>


