<html>
<head></head>
    <body>
        <form>
            <input type='text' name='guess' />
            <input type='submit' value='Guess!' />
            <p><%= message %></p>
        </form>
        
    </body>
</html>
